.main-container {
  display: grid;
  grid-template-columns: 1fr var(--content-width) 1fr;
  height: 100vh;
  background-color: var(--WHITE);
}

.main-content {
  grid-column: 2;
  position: relative;
}

.main-image {
  position: absolute;
  left: -150px;
  top: 156px;
}

.main-text {
  position: absolute;
  left: 0;
  top: 338px;
  width: 100%;
  font-family: 'Montagu Slab', serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  text-indent: 130px;
  color: var(--BLACK);
  margin: 0;
}

@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .main-content {
    grid-column: 1;
  }

  .main-image {
    left: 0;
    width: 196px;
    height: auto;
  }

  .main-text {
    left: 20px;
    width: calc(100% - 40px);
    font-size: 27px;
    line-height: 34px;
    text-indent: 196px;
  }
}
