.main-container {
  display: grid;
  grid-template-columns: 1fr var(--content-width) 1fr;
  height: 100vh;
  background-color: var(--WHITE);
}

.main-content {
  grid-column: 2;
  position: relative;
}

.main-image {
  position: absolute;
  left: -150px;
  top: calc(2 / 20 * 100vh);
}

.main-text {
  position: absolute;
  left: 0;
  top: calc(21 / 70 * 100vh);
  width: 100%;
  font-family: 'Montagu Slab', serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  text-indent: 140px;
  color: var(--BLACK);
  margin: 0;
}

@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
    overflow: hidden;
    height: 100vh;
  }

  .main-content {
    grid-column: 1;
  }

  .main-image {
    left: 0;
    width: 196px;
    height: auto;
  }

  .main-text {
    left: 20px;
    width: calc(100% - 40px);
    font-size: 22px;
    line-height: 28px;
    text-indent: 186px;
    top: calc(16.8 / 70 * 100vh);
  }

  .placeholder-title {
    position: static;
    padding: 20px;
    font-family: 'Montagu Slab', serif;
    font-weight: 300;
    font-size: 36px;
    color: var(--BLACK);
  }
}
